body {
    margin: 2%;
    border: 1px solid black;
    background-color: antiquewhite;
}
/*Displaying css styles of image div */
#image {
    line-height: 450px;
    width: 575px;
    height: 450px;
    border: 5px solid black;
    background-color: white;
    background-image: url("image");
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100%;
    margin: 0 auto 25px;
    font-size: 200%;
    color: red;
    text-shadow: 0 0 3px #ff0000;
    font-weight: bold;
}

.preview {
    width: 10%;
    margin-left: 17%;
    border: 10px solid black;
}

img {
    width: 95%;
}
